<!DOCTYPE html>
<head>
    <title> NIFTYFIFTY STOCK INDEX VALUE FORECASTING</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>
<body style="text-align:left">
    <h1> NIFTYFIFTY &nbsp; STOCK &nbsp; INDEX VALUE &nbsp; FORECASTING
        <br>
        <br>
        <a href="{{url_for('prediction')}}"
        style="border-radius: 20px;padding: 20px;width: 300px;color:rgb(255, 255, 255);font-family: roboto;
       height: 100px;text-align: right;background: rgb(255, 185, 56); text-decoration: none;font-size: 20px;">
       Predict Index Price</a>
       <a href="{{url_for('teampage')}}"
        style="border-radius: 20px;padding: 20px;width: 300px;color:rgb(255, 255, 255);font-family: roboto;
       height: 100px;text-align: right;background: rgb(255, 185, 56); text-decoration: none;font-size: 20px;">
       Team Members</a>                              
    </h1>
    <p>   
        FINAL YEAR PROJECT</p>
    <br><br>
    
    <br>
    <br>
    <table>

        
          
      </table>
      <br><br>
      
      <br>
</body>
