<!DOCTYPE html>
<head>
    <title> NIFTYFIFTY STOCK INDEX VALUE
        FORECASTING </title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teampage.css') }}">
</head>
<body style="text-align:left">
    <h1> NIFTY50  &nbsp; P R I C E &nbsp; P R E D I C T I O N
        <br>
        <br>
        <a href="{{url_for('prediction')}}"
        style="border-radius: 20px;padding: 20px;width: 300px;color:rgb(11, 11, 11);font-family: roboto;
       height: 100px;text-align: right;background: rgb(255, 185, 56); text-decoration: none;font-size: 20px;">
       Predict NIFTY</a>
       <a href="{{url_for('homepage')}}"
        style="border-radius: 20px;padding: 20px;width: 300px;color:rgb(10, 10, 10);font-family: roboto;
       height: 100px;text-align: right;background: rgb(255, 185, 56); text-decoration: none;font-size: 20px;">
       Homepage</a>                              
    </h1>
    <p>   
      PEC - Final Sem Project</p>
    <br><br>
    
    <br>
    <br>
    <table>

        <tr>
            <th>       Team Members :    </th>
            <th>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
        <tr>
        <br>&nbsp;
        <br>&nbsp;
        <br>&nbsp;
            <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Team Leader : DINESH KUMAR V  </td>
            <td> [111419104025] </td>
        </tr>
        <tr>
            <td> Team member : CHEEMALA RAGHAVA </td>
            <td> [111419104014] </td>
          </tr>
          <tr>
            <td> Team member : CHITTEM DINESH </td>
            <td> [111419104018] </td>
          </tr>
          
      </table>
      <br><br>
      
      <br>
</body>
